body {
    background-color: rgb(34, 34, 34);
    color: rgb(225, 225, 225);
}

h1, h2, h3, h4 {
    color: white;
    background-image: url(../img/cool-background.png);
    padding-left: 4%;
    border-radius: 10px;
    background-position: center;
}

.tag {
    color: white;
    background-color: cornflowerblue;
    border-radius: 2px;
    margin-right: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 0.25em;
    cursor: default;
    opacity: 0.8;
}

.tag a {
    text-decoration: none;
}

.tag:hover {
    box-shadow: 1px 1px 3px grey;
    opacity: 1;
}

.tag.gh-tag {
    background-color: salmon;
}

.tag a {
    color: white;
}

.mt-5 {
    margin-top: 5%;
}

.mb-5 {
    margin-bottom: 5%;
}

.mb-0 {
    margin-bottom: 0;
}

.simple-a {
    text-decoration: none;
}

.interlude {
    margin-left: 10px;
    margin-right: 10px;
}
